Repository syedabbasengineering/stellar-sales-app: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

ci: add GitHub Actions pipeline; doc branch protection; mark TS-002 progress
  .github/branch-protection.md
  .github/workflows/ci.yml
  package.json
  task-master/tasks.yaml
Due: prettier --write

task 2 completed
  task-master/tasks.yaml
Due: prettier --write

feat(env): add Zod env schema, backend env loader, docs; mark TS-003 progress
  apps/backend/package.json
  apps/backend/src/env.ts
  apps/backend/src/index.ts
  apps/backend/tsconfig.tsbuildinfo
  apps/mobile/package.json
  docs/ENV.md
  package-lock.json
  package.json
  packages/shared/package.json
  packages/shared/src/env.ts
  packages/shared/src/index.ts
  packages/shared/tsconfig.tsbuildinfo
  task-master/tasks.yaml
  tsconfig.base.json
Due: eslint --fix, prettier --write

ci: run typecheck only on Node 18 to match required checks
  .github/workflows/ci.yml
Due: prettier --write

ci: refresh lockfile to fix npm ci mismatch (picomatch)
  package-lock.json
Due: prettier --write

ci: allow project references to emit during typecheck (fix TS6310)
  package.json
Due: prettier --write

ci: build shared package before typecheck; use public '@stellarsales/shared' entrypoint
  .github/workflows/ci.yml
  apps/backend/src/env.ts
Due: eslint --fix, prettier --write

fix(tsconfig): correct path mapping for @stellarsales/shared across subprojects
  tsconfig.base.json
Due: prettier --write

ci/ts: relax module resolution by mapping to shared src and dist; make shared build best-effort
  .github/workflows/ci.yml
  tsconfig.base.json
Due: prettier --write

resolve conflicts on feature branch
  apps/backend/tsconfig.tsbuildinfo
Due: none

resolve type errors github conflicts
  .github/workflows/ci.yml
  .npmrc
  apps/backend/tsconfig.build.json
  apps/mobile/tsconfig.build.json
  package.json
  packages/shared/tsconfig.build.json
  packages/shared/tsconfig.build.tsbuildinfo
  packages/shared/tsconfig.json
Due: prettier --write

remove typescript entirely for now
  .github/workflows/ci.yml
  apps/backend/package.json
  apps/backend/src/env.js
  apps/backend/src/index.js
  apps/backend/tsconfig.build.json
  apps/backend/tsconfig.json
  apps/backend/tsconfig.tsbuildinfo
  apps/mobile/package.json
  apps/mobile/src/index.jsx
  apps/mobile/src/index.tsx
  apps/mobile/tsconfig.build.json
  apps/mobile/tsconfig.json
  package-lock.json
  package.json
  packages/shared/package.json
  packages/shared/src/env.js
  packages/shared/src/index.js
  packages/shared/src/index.ts
  packages/shared/tsconfig.build.json
  packages/shared/tsconfig.build.tsbuildinfo
  packages/shared/tsconfig.json
  packages/shared/tsconfig.tsbuildinfo
  tsconfig.base.json
  tsconfig.build.json
Due: eslint --fix, prettier --write

task-master: start TS-010; scaffold Expo TypeScript app; complete SB-0010
  .gitignore
  apps/mobile/App.tsx
  apps/mobile/app.json
  apps/mobile/babel.config.js
  apps/mobile/metro.config.js
  apps/mobile/package.json
  apps/mobile/src/index.jsx
  apps/mobile/tsconfig.json
  package-lock.json
  task-master/tasks.yaml
Due: eslint --fix, prettier --write

mobile: add React Navigation v6 tabs and stub screens; task TS-011 complete
  apps/mobile/App.tsx
  apps/mobile/babel.config.js
  apps/mobile/package.json
  apps/mobile/src/navigation/RootNavigator.tsx
  apps/mobile/src/screens/CallsScreen.tsx
  apps/mobile/src/screens/HomeScreen.tsx
  apps/mobile/src/screens/LibraryScreen.tsx
  apps/mobile/src/screens/SettingsScreen.tsx
  package-lock.json
  task-master/tasks.yaml
Due: eslint --fix, prettier --write

mobile: add React Query provider and example query on Home; complete TS-012 (SB-0014, SB-0015)
  apps/mobile/.expo/README.md
  apps/mobile/.expo/devices.json
  apps/mobile/App.tsx
  apps/mobile/index.js
  apps/mobile/package.json
  apps/mobile/src/screens/HomeScreen.tsx
  package-lock.json
  task-master/tasks.yaml
Due: eslint --fix, prettier --write

backend: add Express with /health and LiveKit token endpoint; shared env updated; TS-030 SB-0030 progressed
  apps/backend/package.json
  apps/backend/src/index.js
  package-lock.json
  packages/shared/src/env.js
  task-master/tasks.yaml
Due: eslint --fix, prettier --write

set up expo account and verified successful login into expo mobile app
  apps/mobile/App.tsx
  apps/mobile/app.json
  apps/mobile/src/screens/CallsScreen.tsx
  apps/mobile/src/services/api.ts
Due: eslint --fix, prettier --write

Path conditions:
  eslint --fix: any of: *.{ts,tsx,js,jsx}
  prettier --write: any of: **/*.{ts,tsx,js,jsx,json,md,yml,yaml}
